body {
    background-image: url("/images/2354322.jpg");
}

h1 {
    color: whitesmoke;
    font-size: x-large;
    text-align: center;
    text-decoration: underline;
}

label {
    color: blueviolet;
    font-size: x-large;
    margin-right: 10px;
}

ul {
    list-style: none;
}

input {
    background-color: aliceblue;
    border-color: blueviolet;
    border-radius: 40px;
    margin-top: 20px;
}

button {
    background-color: aliceblue;
    border-color: blueviolet;
    border-radius: 40px;
    margin-top: 20px;
    color: blueviolet;
    height: 40px;
    width: fit-content;
    font-size: Large;

}


#afficher {
    color: blueviolet;
    font-size: larger;
    margin-top: 40px;
    text-align: center;
    background-color: aliceblue;
    border: 2px solid blueviolet;
    border-radius: 70px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

fieldset {
    background-color: aliceblue;
    border-color: blueviolet;
    border-radius: 15px;
}

#formulaire {
    justify-items: center;
    margin-top: 35px;
}

#btn-cancel {
    text-decoration: none;
    color: aliceblue;
    font-size: x-large;
}

#afficherimage {
    height: 300px;
    width: 350px;
    margin-top: 10px;
    border-radius: 10px;
}

#affichermanga,
#affichergenre {
    font-size: x-large;
}